@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-green: oklch(68.779% 0.12748 163.885);

  /* spacing */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-base: 1rem;
  --space-lg: 1.25rem;
  --space-xl: 1.5rem;
  --space-2xl: 2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: calc(1em + 0.5rem);
}

@theme {
  --color-black-50: oklch(0.1 0 264);
  --color-black-100: oklch(0.2 0 264);
  --color-black-200: oklch(0.3 0 264);

  --color-white-50: oklch(0.92 0 264);
  --color-white-100: oklch(0.96 0 264);
  --color-white-200: oklch(1 0 264);

  --color-muted: oklch(0.4 0 264);
  --color-text: oklch(0.15 0 264);

  --color-blue: oklch(0.65 0.15 264);
  --color-yellow: oklch(0.9 0.17 100);
  --color-green: oklch(68.779% 0.12748 163.885);

  --color-border: hsl(0 0% 30%);
  --bg-linear-my-gradient: var(--gradient);

  --shadow-shadow-s:
    inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
  --shadow-shadow-m:
    inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
  --shadow-shadow-l:
    inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;

  /* spacing */
  --spacing-space-xxs: var(--space-xxs);
  --spacing-space-xs: var(--space-xs);
  --spacing-space-s: var(--space-s);
  --spacing-space-base: var(--space-base);
  --spacing-space-lg: var(--space-lg);
  --spacing-space-xl: var(--space-xl);
  --spacing-space-2xl: var(--space-2xl);

  /* breakpoints */
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

/* container */
@layer components {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1200px;
    }
  }
}

.primary-btn {
  padding-inline: var(--space-base);
  padding-block: 8px;
  color: var(--color-white-50);
  font-weight: 500;
  background-color: var(--color-blue);
  border-radius: var(--space-base);
  cursor: pointer;
  transition: all 0.3s ease;
}

.secondary-btn {
  padding-inline: var(--space-base);
  padding-block: 8px;
  color: var(--color-white-50);
  font-weight: 500;
  background-color: var(--color-green);
  border-radius: var(--space-base);
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-btn:hover, .secondary-btn:hover {
  box-shadow: var(--shadow-shadow-s);
  transform: scale(1.03);
}
